* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.hero_image {
    // position: relative;
    text-align: center;
    color: black;
    .fit-image {
        width: 100%;
        // object-fit: cover;
    }
    .centered {
        // position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
    }
    .icon_and_text {
        margin-top: 10%;
        .seat_icon {
            width: 2rem;
        }
        .text_icon {
            font-size: 0.8rem;
            margin: 0;
            padding: 0;
            width: 5rem;
        }
    }
    .btn_book_now {
        margin-top: 20%;
        font-size: 1rem;
    }
}

.photo_size {
    height: 40vh;
    box-sizing: border-box;
}

.size_height_box {
    height: 40vh;
    box-sizing: border-box;
}

.month {
    color: rgb(5, 189, 214);
}